$border-color: #e3dcca;
$brown-font: #986f4e;
$orange: #ff8c1a;
$header-icon: #a0522d;
$ivory: #d1c6a9;
$light-gray: #eeeeee;
$dark-brown: #4d2200;
$green: #85b32b;
$body-color: #f7f3e8;
$count-font: #ff9933;
$table-color: rgb(250, 249, 244);
$table-border: rgb(242, 238, 230);
