.contents__whole
  .contents__side
    .contents__side__how-to-write
      .contents__side__how-to-write__bar
        レシピの書き方
        = link_to root_path, method: :get do
          サンプルはこちら
      .contents__side__how-to-write__body
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            レシピのタイトル
          %p
            レシピに合ったタイトルをつけてください。
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            レシピの写真
          %p
            レシピの完成写真をのせてください。イメージが正しく伝わり調理しやすくなります。
          %p.contents__side__how-to-write__body__title__notice
            ※人や動物が映り込んだ写真、オリジナルでないものはご遠慮ください。
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            レシピの紹介文
          %p
            レシピの味や魅了をわかりやすい言葉で書いてください。
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            材料・分量
          %p
            レシピの味が再現できるよう、材料（食材や調味料）とその分量を書いてください。
          %p.contents__side__how-to-write__body__title__notice
            ※分量を記載しにくい材料は「少々」や「適量」などで問題はありません。
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            作り方
          %p
            お料理初心者の方でもわかるよう、下ごしらえの方法や調理手順を書いてください。
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            コツ、ポイント
          %p
            調理時の注意点や、おいしく作るコツなどを教えてください
        .contents__side__how-to-write__body__title
          .contents__side__how-to-write__body__title__bar.slide_down
            %i.fa.fa-chevron-down
            レシピの生い立ち
          %p
            レシピが生まれたきっかけを教えてください
          %p.contents__side__how-to-write__body__title__notice
            ※○○好きな夫のために作った、思い出の母の味をアレンジなど、具体的に書いてください。
  = f.submit :レシピを公開する, class: 'contents__submit'
