- if @user.errors.any?
  #error_explanation
    .alert.alert-danger
      入力した内容にエラーが
      = pluralize(@user.errors.count, "件あります")
    %ul
      -@user.errors.full_messages.each do |msg|
        %li
          = msg
