.contents__review_form{
  width:650px;
  background-color: #fffdef;
  float:left;
  padding:30px 40px;
  box-sizing:border-box;
  border-radius: 4px;
  border: 1px solid $border-color;
  &__description{
    text-align:center;
    font-size:23px;
    font-weight:bold;
    margin-bottom:10px;
  }
  &__name{
    font-size:35px;
    color:rgb(136, 155, 0);
    font-weight: bold;
    margin-bottom:50px;
  }
  &__rate{
      display:flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom:30px;
    label{
      font-size:80px;
      color:$light-gray;
      -webkit-text-stroke:1px #ccc;
      text-shadow:0 3px 2px gray;
    }
  }
  &__title{
    display: block;
    margin:0 auto;
    height:35px;
    width:500px;
    border-radius:3px;
    margin-bottom:40px;
  }
  &__review{
    display: block;
    margin:0 auto;
    width:500px;
    border-radius:3px;
    height:300px;
    margin-bottom:40px;
  }
  &__submit{
    display: block;
    margin:0 auto;
    height:50px;
    width:300px;
    background-color: $light-gray;
    border-radius: 4px;
    margin-bottom:40px;
  }
}

.contents__review_form__rate label:hover,
.contents__review_form__rate label:hover ~ label,
.contents__review_form__rate input[type='radio']:checked ~ label{
  color: #ffcc00;
}
