.contents__post{
  width:650px;
  background-color: white;
  float:left;
  padding:10px 20px;
  box-sizing:border-box;
  border-radius: 4px;
  border: 1px solid $border-color;
  &__author{
    display: inline-block;
    a{
      color: rgb(60, 60, 60);
      font-size:14px;
    }
  }
  &__print_and_delete{
    float:right;
    a{
      color: #999999;
      font-size:14px;
    }
    &__delete{
      @include partition();
    }
  }
  &__name{
    margin:20px 0;
    &__count{
      font-size:12px;
      color:rgb(102, 102, 102);
    }
    &__form{
      height:30px;
      width:250px;
      display: inline-block;
      background-color: #ffffd3;
    }
    &__save{
      display: inline-block;
    }
    a{
      font-size:14px;
      color:black;
    }
  }
  &__image{
    float:left;
    margin-right: 20px;
  }
  &__catch-copy{
    display: block;
    &__count{
      font-size: 12px;
      color:rgb(102, 102, 102);
    }
    a{
      color:black;
      font-size:14px;
    }
    &__form{
      width:300px;
      height: 60px;
      background-color: #ffffd3;
    }
  }
  &__chef{
    float:right;
    margin-bottom:10px;
    a{
      color:rgb(132, 95, 75);
    }
  }
  &__steps{
    display:flex;
    flex-wrap:wrap;
    &__step{
      width:24%;
      margin-bottom: 10px;
      margin-right: 5px;
      height:210px;
      &__num{
        font-weight: bold;
        color:rgb(132, 95, 75);
      }
      &__move{
        a{
          font-size:14px;
          color:rgb(153, 153, 153);
          margin-right: 5px;
        }
      }
      &__add_and_delete{
        float:right;
        a{
          font-size:12px;
          color:rgb(153, 153, 153);
          margin-right: 5px;
        }
      }
      &__text{
        &__form{
          width:130px;
          height:100px;
          background-color: #ffffd3;
        }
        &__count{
          font-size:12px;
          color: rgb(102, 102, 102);
        }
      }
      &__save_and_delete{
        a{
          font-size:14px;
          color:black;
        }
      }
    }
  }
}

.contents__side__how-to-write{
  &__bar{
    background-color: rgb(239, 225, 190);
    padding: 0 10px;
    font-size:12px;
    font-weight:bold;
    a{
      float:right;
      font-size:11px;
      color:black;
    }
  }
  &__body{
    &__title{
      font-size:14px;
      &__bar{
        padding: 0 10px;
      }
      p{
        background-color: rgb(255, 253, 239);
        color: rgb(102, 102, 102);
        padding:5px 10px;
      }
      &__notice{
        font-size:11px;
      }
    }
  }
}
